body {
    margin: 0;
}

/*paddingやborderを含めて幅計算しやすくする*/
* {
    box-sizing: border-box;
}

.app {
    min-height: 100vh;
    font-family: Arial, "Hiragino Kaku Gothic ProN", "Yu Gothic", sans-serif;
}

.header {
    background: #000;
}

.header__inner {
    /*ヘッダー内を画面幅いっぱいにする*/
    width: 100%;

    /*中央寄せをやめる*/
    margin: 0;

    /*左右の余白。完全に左端なら 0 にする*/
    padding: 18px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: inline-block;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.main {
    padding: 0;
}

.header__logo-image {
    display: block;
    height: 36px;
    width: auto;
}

/*ログアウトフォーム*/
.header-logout {
    margin: 0;
}

/*ログアウトボタン*/
.header-logout__button {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}


/*ヘッダーナビ*/
.header-nav {
    display: flex;
    align-items: center;
    gap: 32px;
}

/*ヘッダーリンク*/
.header-nav__link {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
